@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
    *::-webkit-scrollbar {
        width: 0;
    }
    html {
        scroll-padding-top: 0;
        overflow-x: hidden;
        width: 100vw;
    }
    body {
        @apply font-secondary;
        overflow-x: hidden;
        width: 100vw;
    }

    h1 {
        @apply font-primary;
    }
}

@layer components {
    .btn {
        @apply px-10;
    }
    .bg-cover-center {
        @apply bg-center bg-cover bg-no-repeat;
    }
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-ExtraLight.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-ExtraLightItalic.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-Light.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-LightItalic.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-LightItalic.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-Italic.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-Italic.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-Medium.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-MediumItalic.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-Bold.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-Bold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-BoldItalic.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-BoldItalic.woff') format('woff');
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-ExtraBold.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-ExtraBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'NeueKabel';
    src: url('./assets/fonts/NeueKabel/NeueKabel-ExtraBoldItalic.otf') format('otf'),
        url('./assets/fonts/NeueKabel/NeueKabel-ExtraBoldItalic.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
}
